In [1]:
import pandas as pd
df=pd.read_csv(r'E:\jupyter notebook\Capstone\Output(70).csv')
df.head()

,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
0,0.713311,0.165500,0.701111,0.186969,0.647033,0.010800,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.971350,0.620084,0.381983,2,1
1,0.713400,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.468900,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
2,0.713343,0.165221,0.701165,0.186709,0.647200,0.010567,0.552450,0.356670,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
3,0.713286,0.164676,0.701260,0.186067,0.603808,0.501849,0.552240,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.607210,0.384894,5,1
4,0.713582,0.165278,0.701475,0.186763,0.647134,0.010480,0.552187,0.356850,0.469242,0.543275,...,0.590998,0.569468,0.561580,0.367756,0.641827,0.971387,0.619447,0.382325,6,1

In [2]:
import pandas as pd

# Read the CSV again, telling pandas not to treat the first row as header
df = pd.read_csv(r'E:\jupyter notebook\Capstone\Output(70).csv', header=None)

# Now set the first row as column headers
df.columns = df.iloc[0]  # First row becomes header
df = df[1:]  # Remove the first row from the data
df.reset_index(drop=True, inplace=True)

df.head()

,0.713323,0.164757,0.701304,0.186173,0.603872,0.501781,0.552190,0.355947,0.489820,0.544001,...,0.590906,0.568317,0.562365,0.367789,0.641429,0.971560,0.621384,0.381456,1.000000,1.000000
0,0.713311,0.165500,0.701111,0.186969,0.647033,0.010800,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.971350,0.620084,0.381983,2,1
1,0.713400,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.468900,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
2,0.713343,0.165221,0.701165,0.186709,0.647200,0.010567,0.552450,0.356670,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
3,0.713286,0.164676,0.701260,0.186067,0.603808,0.501849,0.552240,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.607210,0.384894,5,1
4,0.713582,0.165278,0.701475,0.186763,0.647134,0.010480,0.552187,0.356850,0.469242,0.543275,...,0.590998,0.569468,0.561580,0.367756,0.641827,0.971387,0.619447,0.382325,6,1

In [4]:
import pandas as pd

# Read the CSV using default header (first row as column names)
df = pd.read_csv(r'E:\jupyter notebook\Capstone\Output(70).csv')

df.head()

,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
0,0.713311,0.165500,0.701111,0.186969,0.647033,0.010800,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.971350,0.620084,0.381983,2,1
1,0.713400,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.468900,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
2,0.713343,0.165221,0.701165,0.186709,0.647200,0.010567,0.552450,0.356670,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
3,0.713286,0.164676,0.701260,0.186067,0.603808,0.501849,0.552240,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.607210,0.384894,5,1
4,0.713582,0.165278,0.701475,0.186763,0.647134,0.010480,0.552187,0.356850,0.469242,0.543275,...,0.590998,0.569468,0.561580,0.367756,0.641827,0.971387,0.619447,0.382325,6,1

In [7]:
print(len(df.columns.tolist()))

1872

In [8]:
# Save original column names
column_names = df.columns.tolist()

# Create a new DataFrame with the column names as the first row
df_with_headers = pd.DataFrame([column_names], columns=column_names)

# Append the original data below it
df = pd.concat([df_with_headers, df], ignore_index=True)

df.head()

,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
0,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
1,0.713311,0.1655,0.701111,0.186969,0.647033,0.0108,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.97135,0.620084,0.381983,2,1
2,0.7134,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.4689,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
3,0.713343,0.165221,0.701165,0.186709,0.6472,0.010567,0.55245,0.35667,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
4,0.713286,0.164676,0.70126,0.186067,0.603808,0.501849,0.55224,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.60721,0.384894,5,1

In [9]:
# Change column names to integers from 1 to 1872
df.columns = list(range(1, df.shape[1] + 1))

df.head()

,1,2,3,4,5,6,7,8,9,10,...,1863,1864,1865,1866,1867,1868,1869,1870,1871,1872
0,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
1,0.713311,0.1655,0.701111,0.186969,0.647033,0.0108,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.97135,0.620084,0.381983,2,1
2,0.7134,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.4689,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
3,0.713343,0.165221,0.701165,0.186709,0.6472,0.010567,0.55245,0.35667,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
4,0.713286,0.164676,0.70126,0.186067,0.603808,0.501849,0.55224,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.60721,0.384894,5,1

In [10]:
# Rename the last two columns
df.columns = list(df.columns[:-2]) + ['no of rows', 'fall/notfall']

df.head()

,1,2,3,4,5,6,7,8,9,10,...,1863,1864,1865,1866,1867,1868,1869,1870,no of rows,fall/notfall
0,0.713322759,0.16475749,0.70130384,0.18617329,0.603872418,0.501781344,0.552189946,0.355947226,0.489819646,0.544001043,...,0.590905905,0.568316698,0.562365174,0.367789239,0.641429186,0.971559703,0.621383727,0.381456107,1,1.1
1,0.713311,0.1655,0.701111,0.186969,0.647033,0.0108,0.552291,0.357098,0.469514,0.542455,...,0.590961,0.568286,0.561157,0.368119,0.641389,0.97135,0.620084,0.381983,2,1
2,0.7134,0.164587,0.701365,0.185978,0.603724,0.501218,0.552267,0.355447,0.4689,0.542743,...,0.590553,0.569103,0.561606,0.367483,0.641407,0.971463,0.621139,0.381965,3,1
3,0.713343,0.165221,0.701165,0.186709,0.6472,0.010567,0.55245,0.35667,0.449069,0.542097,...,0.591111,0.567495,0.561815,0.368866,0.641391,0.971454,0.620209,0.382163,4,1
4,0.713286,0.164676,0.70126,0.186067,0.603808,0.501849,0.55224,0.355974,0.489868,0.544099,...,0.590713,0.568685,0.562874,0.367234,0.641285,0.971314,0.60721,0.384894,5,1

In [13]:
value = df.loc[0, 'fall/notfall']
print(value)

1.1

In [14]:
# Change the value in row 0, column 'fall/notfall' to 1
df.loc[0, 'fall/notfall'] = 1

# Save the updated DataFrame to a new CSV file
df.to_csv(r'E:\jupyter notebook\Capstone\Output_1.csv', index=False)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Columns: 1872 entries, 1 to fall/notfall
dtypes: object(1872)
memory usage: 1023.9+ KB